* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    transition: filter 1s ease-in;
}
.blur {
      filter: blur(4px);
      transition: all 1s;

}
body {
    background: #cfe0dd;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
}
.grid-container {
    width: 1280px;
    height: 720px;
    display: grid;
    background: url(imgs/background.png);
    grid-template-areas: 
        "header"
        "middle"
        "footer";
    grid-template-rows: 20px 640px 60px;
    
    background-repeat: no-repeat;
    background-size:cover;
}

/* Começo header */
.header {
    grid-area: header;
    background: black;
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 0.1rem;

}

.daydate {
    position: absolute;
    left: 0; right: 0;
    width: 100%;
    text-align: center;
}
/* IDS header */
#cabeca {
    height: 17px;
    cursor: pointer;
}
#mutano {
    color: white;
}
#hoje {
    color: white;
    font-size: 1rem;
}
.righticons {
    display: flex;
    cursor: pointer;
}
.righticons img, p {
    margin-right: 0.5rem;
}

/* Começo meio */
.meio {
    grid-area: middle;
    position: absolute;
}

.terminal {
    position: absolute;
    top: 80px;
    left: 180px;
}
/* Parte de cima do terminal */
.encima {
    height: 12px;
    width: 400px;
    background: rgba(13, 9, 29, 0.88);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: .2rem;
    cursor: pointer;
}
#fecha {
    height: 8px;
}
#fechar {
    color: white;
    margin: .2rem;
}
/* Parte debaixo do terminal */
.baixo {
    height: 300px;
    width: 400px;
    background: rgba(0, 0, 0, 0.66);
}
#root {
    color: forestgreen;
    font-size: 0.7rem;
    padding: 0.2rem;
}
/*Começo footer */

.footer {
    grid-area: footer;
    background: rgba(0, 0, 0, 0.15);
    margin: 0 5rem;
    padding: 0 1rem;
    clip-path: polygon(2% 0, 98% 0, 100% 100%, 0% 100%);
    display: flex;
    justify-content: space-around;

}
.footer img {
    height: 45px;
    margin: 0 0.2rem;
    transition: all 0.2s;
    cursor: pointer;
}
.footer img:hover {
    transform: scale(1.05);
}
#meiok {
    box-shadow: 1px 2px 11px rgba(0, 147, 255, 0.08);
    margin: 0.5rem 0rem 0rem 0rem;
    border-radius: 30%;
    transition: box-shadow 1s ease-in;
    

}
#meiok:hover {
    box-shadow: 1px 2px 11px rgba(0, 147, 255, 0.51);
    margin: 0.5rem 0rem 0rem 0rem;
    border-radius: 30%;

}

