* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
body {
    background: #cfe0dd;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
    
}
.grid-container {
    width: 1280px;
    height: 720px;
    display: grid;
    grid-template-areas: 
        "header"
        "middle"
        "footer";
    
    grid-template-rows: 20px 640px 60px;
    background: url(imgs/background.png);
    background-repeat: no-repeat;
    background-size:cover;
}
.header {
    grid-area: header;
    background: black;
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 0.1rem;

}
.daydate {
    position: absolute;
    left: 0; right: 0;
    width: 100%;
    text-align: center;
}
#cabeca {
    height: 17px;
}
#mutano {
    color: white;
}
#hoje {
    color: white;
    font-size: 1rem;
}
.righticons {
    display: flex;
}
.righticons img, p {
    margin-right: 0.5rem;
}
/* asd */
.meio {
    grid-area: middle;
    position: absolute;
}
.terminal {
    position: absolute;
    top: 80px;
    left: 180px;
}
.encima {
    height: 12px;
    width: 400px;
    background: rgba(13, 9, 29, 0.88);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: .2rem;
}
#fecha {
    height: 8px;
}
#fechar {
    color: white;
    margin: .2rem;
}
.baixo {
    height: 300px;
    width: 400px;
    background: rgba(0, 0, 0, 0.66);
}
#root {
    color: forestgreen;
    font-size: 0.7rem;
    padding: 0.2rem;
}
/* asd*/
.footer {
    grid-area: footer;
    background: rgba(0, 0, 0, 0.15);
    margin: 0 5rem;
    clip-path: polygon(2% 0, 98% 0, 100% 100%, 0% 100%);

}
